.overlay {
    position: fixed;
    z-index: 10;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.modalPosition {
    position: fixed;
    inset: 0;
    overflow-y: auto;
    z-index: 11;
}

.modalContainer {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.modal {
    padding: 20px;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}