.header {
  padding: 15px 0;
  background: rgb(131, 58, 180);
  background: linear-gradient(143deg, rgba(131, 58, 180, 1) 0%, rgba(175, 47, 126, 1) 49%, rgba(227, 35, 61, 1) 75%, rgba(253, 29, 29, 1) 85%, rgba(253, 60, 37, 1) 93%, rgba(252, 176, 69, 1) 100%);
  background-repeat: no-repeat;
}